@font-face {
  font-family: "Pretendard Variable";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/PretendardVariable.woff2") format("woff2-variations");
}

@font-face {
  font-family: "AritaBuri";
  src: url("/fonts/AritaBuri/AritaBuriKR-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* @font-face {
  font-family: 'AritaBuri';
  src: url('/fonts/AritaBuri/AritaBuriKR-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'AritaDotum';
  src: url('/fonts/AritaDotum/AritaDotumKR-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AritaDotum';
  src: url('/fonts/AritaDotum/AritaDotumKR-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
